<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="row">
      <div id="landing-content" class="col-lg-9">
        <h3><b>Welcome,</b></h3>
        <p>
          An Open Source Online College Management System app using Ruby on Rails. This is not an exact copy of CMS but has a similar functionality. This is to demonstrate how easy is it develop to a College Management System app using Ruby on Rails.
        </p>
        </div>
        </div>
        </div>
        </div>