/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
@import "variables";
@import "bootstrap";
@import "bootswatch";
@import "datepicker";
@import "font-awesome";
@import url(http://fonts.googleapis.com/css?family=Lora|Ubuntu:300,400,500); 

/* Variables, mixins, etc.. */

@mixin background-tile {
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 3px 3px 3px 3px #ccc;
	padding: 1.5em 1.25em;
}


/* General styles */



h1, h2, h3, h4, h5, h6 {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
}

p.alert, p.notice {
	margin: 0;
}


/* Navbar/navigation styles */

.navbar {
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
}
.navbar-default {
	background-color: #fff;
	padding-bottom: 5px;
	padding-top: 5px;

	.navbar-nav > li > a {
		color: #222;
		&:hover {
			color: darken(#05c1f9, 5%);
			transition: 0.5s;
		}
	}

	.navbar-header {

		.navbar-brand {
			color: #222;
			letter-spacing: 1.4px;
		}

	}

}




/* Signup/Login form styles */

.signup-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}

.login-form {
	@include background-tile;

	h2 {
		margin-top: 0;
	}

}


#landing-content {
  padding: 40px;
  h3, p {
    color: white;
    font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
  }
  }